{% extends 'base.html.twig' %}

{% block title %}Create Category{% endblock title %}

{% block body %}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Send" />

        {{ form_end(form) }}
    </div>

{% endblock %}